atomicwrites==1.3.0
attrs==19.1.0
beautifulsoup4==4.7.1
boto3==1.9.173
botocore==1.12.173
coverage==4.5.3
docutils==0.14
hupper==1.8.1
importlib-metadata==0.18
Jinja2==2.10.1
jmespath==0.9.4
Mako==1.2.2
MarkupSafe==1.1.1
more-itertools==7.0.0
packaging==19.0
PasteDeploy==2.0.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.12.0
py==1.8.0
Pygments==2.4.2
pyparsing==2.4.0
pyramid==1.10.4
# Editable install with no version control (pyramid-boto==0.0)
# -e /Users/admin/PycharmProjects/pyramid_boto
pyramid-debugtoolbar==4.5
pyramid-jinja2==2.8
pyramid-mako==1.0.2
pytest==4.6.3
pytest-cov==2.7.1
python-dateutil==2.8.0
repoze.lru==0.7
s3transfer==0.2.1
six==1.12.0
soupsieve==1.9.1
translationstring==1.3
urllib3==1.25.3
venusian==1.2.0
waitress==1.3.0
wcwidth==0.1.7
WebOb==1.8.5
WebTest==2.0.33
zipp==0.5.1
zope.deprecation==4.4.0
zope.interface==4.6.0
