{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>EC2 instances:</h1>
  <ul id="ins">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ul>
</div>
<script>
window.onload = () => {
  console.log('loaded');
  fetch('/api/ec2').then(response => {
    return response.json();
  })
  .then(myJson => {
    console.log(myJson);
    list = '';
    myJson.instances.map(inst => {
          const button = `<button class="btn btn-secondary btn-sm" onclick="StartStop('${inst.instance_id}', '${inst.zone}', ${inst.state_code})">${inst.is_active ? 'Start' : 'Stop'}</button>`
          list += `<li>
          ID: ${inst.instance_id} | Name: ${inst.name} | Availability Zone: ${inst.zone} | Instance State: ${inst.state} ${button}
    </li>`;
    document.querySelector('#ins').innerHTML = list;
    })
  });
};

function StartStop(id, zone, state){
    const rawResponse = fetch('/api/ec2', {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({id, zone, state})
  }).then(response => {
    document.location.reload();
  });
  
}
</script>
{% endblock content %}
